html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;

}

canvas {
  width: 100%;
  height: 100%;
  position: absolute;
}

#stage {
  position: relative;
  width: 100%;
  height: 100%;
}